<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js Basics</title>
  <script src="../vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>Basics of Vue.js</h1>
    <h3>Courses topics:</h3>
    <ul>
      <li v-for="topic in topics">
        <a v-bind:href="topic.link" target="_blank">
          {{topic.title}}
        </a>
      </li>
    </ul>

    <h3>Exercises:</h3>
    <ul>
      <li v-for="exercise in exercises">
        <a v-bind:href="exercise.link" target="_blank">
          {{exercise.title}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Vue Instance -->
  <script>
    new Vue({
      el: '#app',
      data: {
        topics: [
          {
            title: 'Events',
            link: '/topics/events.html'
          },{
            title: 'Two Way Binding',
            link: '/topics/2_way_bind.html'
          },{
            title: 'Methods, Compoted and Watch',
            link: '/topics/mcw_properties.html'
          },{
            title: 'Dynamic Classes',
            link: '/topics/dynamic_classes.html'
          },{
            title: 'Dynamic Styles',
            link: '/topics/dynamic_styles.html'
          }
        ],
        exercises: [
          {
            title: 'Exercise 1: Outputting Data to Templates',
            link: '/exercises/exercise_1.html'
          },{
            title: 'Exercise 2: Events',
            link: '/exercises/exercise_2.html'
          },{
            title: 'Exercise 3: Reactive Properties',
            link: '/exercises/exercise_3.html'
          },{
            title: 'Exercise 4: Styling',
            link: '/exercises/exercise_4.html'
          },{
            title: 'Exercise 5: Conditional and Lists',
            link: '/exercises/exercise_5.html'
          }
        ]
      }
    });
  </script>
</body>
</html>
